<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/style.css') }}">
</head>
<body>
    <div class="loginDiv" id="loginDiv">
    <h1>Login Page</h1>
    <input type="text" class="text-input" id="nameInput" placeholder="Nom du compte"> <br>
    <input type="password" class="text-input" id="passwordInput" placeholder="Mot de passe"> <br>
    <button class="search" id="loginBtn">Login</button>
    <button class="search" id="registerBtn">Register</button>
    <label id="errorLabel"></label>
    <p id="serverReply"></p>
    </div>

    <script 
        src="{{ url_for('static', filename='static/scriptlogin.js') }}">
    </script>
</body>
</html>
